@import "tailwindcss";

@theme {
    --font-ubuntu: "Ubuntu", sans-serif;
    --font-rubik: "Rubik", sans-serif;

    --breakpoint-sm: 500px;
    --breakpoint-lg: 920px;
    --breakpoint-xl: 1300px;
}